gunicorn==20.0.4
APScheduler==3.6.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
comtypes==1.1.8
cryptography==3.4.5
Flask==1.1.2
googlemaps==4.4.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pycparser==2.20
pypiwin32==223
python-telegram-bot==13.2
pyttsx3==2.90
pytz==2021.1
pywin32==300
requests==2.25.1
six==1.15.0
tornado==6.1
tzlocal==2.1
urllib3==1.26.3
Werkzeug==1.0.1

